backend: tensorflow
class_name: Sequential
config:
  layers:
  - class_name: Conv2D
    config:
      activation: tanh
      activity_regularizer: null
      bias_constraint: null
      bias_initializer:
        class_name: Zeros
        config: {}
      bias_regularizer: null
      data_format: channels_last
      dilation_rate: &id001 !!python/tuple
      - 1
      - 1
      filters: 64
      kernel_constraint: null
      kernel_initializer:
        class_name: VarianceScaling
        config:
          distribution: normal
          mode: fan_in
          scale: 2.0
          seed: null
      kernel_regularizer: null
      kernel_size: !!python/tuple
      - 5
      - 5
      name: conv2d_1
      padding: same
      strides: *id001
      trainable: true
      use_bias: true
  - class_name: Conv2D
    config:
      activation: tanh
      activity_regularizer: null
      bias_constraint: null
      bias_initializer:
        class_name: Zeros
        config: {}
      bias_regularizer: null
      data_format: channels_last
      dilation_rate: *id001
      filters: 32
      kernel_constraint: null
      kernel_initializer:
        class_name: VarianceScaling
        config:
          distribution: normal
          mode: fan_in
          scale: 2.0
          seed: null
      kernel_regularizer: null
      kernel_size: !!python/tuple
      - 3
      - 3
      name: conv2d_2
      padding: same
      strides: *id001
      trainable: true
      use_bias: true
  - class_name: Conv2D
    config:
      activation: linear
      activity_regularizer: null
      bias_constraint: null
      bias_initializer:
        class_name: Zeros
        config: {}
      bias_regularizer: null
      data_format: channels_last
      dilation_rate: *id001
      filters: 4
      kernel_constraint: null
      kernel_initializer:
        class_name: VarianceScaling
        config:
          distribution: normal
          mode: fan_in
          scale: 2.0
          seed: null
      kernel_regularizer: null
      kernel_size: !!python/tuple
      - 3
      - 3
      name: conv2d_3
      padding: same
      strides: *id001
      trainable: true
      use_bias: true
  - class_name: Conv2DSubPixel
    config:
      name: conv2d_sub_pixel_1
      scale: 2
      trainable: false
  name: sequential_1
keras_version: 2.2.4
