<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>left</title>
    <style>
        button{
            width: 80px;
            line-height: 38px;
            text-align: center;
            font-weight: bold;
            color: #fff;
            text-shadow:1px 1px 1px #333;
            border-radius: 5px;
            margin:0 20px 20px 0;
            position: relative;
            overflow: hidden;
        }
    </style>
</head>
<body style="background-color: grey">

<div style="margin: 0px;padding: 0px;height: 100px">
<br>
<br>
<center><a href="/face/" target="main"><button>人脸识别</button></a><br></center>
</div>

<div style="margin: 0px;padding: 0px;height: 100px">
<br>
<br>
<center><a href="/cut/" target="main"><button>拍照</button></a><br></center>
</div>

<div style="margin: 0px;padding: 0px;height: 100px">
<br>
<br>
<center><a href="/original/" target="main"><button>原图</button></a><br></center>
</div>

<div style="margin: 0px;padding: 0px;height: 100px">
<br>
<br>
<center><a href="/clarify/" target="main"><button>超分辨率</button></a><br></center>
</div>

<div style="margin: 0px;padding: 0px;height: 100px">
<br>
<br>
<center><a href="/show_2/" target="main"><button>超清图</button></a><br></center>
</div>

</body>
</html>