<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: grey;background-repeat: repeat;background-position: center center;background-attachment: fixed;"
      background="/static/img/test2.jpg";>
<div>
    <br>
    <br>
    <br>
    <center><h1><font color="white">人脸识别-A03</font></h1></center>
    <center><h2><font color="white">组长：李宏伟</font></h2></center>
    <center><h2><font color="white">组员：简仁杰</font></h2></center>
    <center><h2><font color="white">组员：袁坤鹏</font></h2></center>
    <br>
    <br>
    <br>
    <center><h2><font color="white">Web：袁坤鹏</font></h2></center>
    <center><h2><font color="white">人脸识别：李宏伟</font></h2></center>
    <center><h2><font color="white">超分辨率：简仁杰</font></h2></center>


</div>
</body>
</html>